commands:
  command1:
    command: sudo yum install -y gcc python-setuptools python-devel postgresql-devel libcurl-devel
container_commands:
  01_migrate:
    command: "python3 manage.py makemigrations && python3 manage.py migrate && python3 manage.py collectstatic"
    leader_only: true
  02_create_superuser:
    command: "python3 manage.py superuser"
    leader_only: true